* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,p {
    color: rgb(206, 206, 206);
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: white;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #011b35, #003b57);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);

}

.color-change-2x {
	-webkit-animation: color-change-2x 5s linear infinite alternate both;
	        animation: color-change-2x 5s linear infinite alternate both;
}

.glass{
    background: rgb(24, 24, 24);
    min-height: 80vh;
    width: 50%;
    max-width: 100vw;
    min-width: 750px;
    background: linear-gradient(to right bottom,
        rgba(24, 24, 24,0.7),
        rgba(24, 24, 24,0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    background: rgb(24, 24, 24);
    background: linear-gradient(to right bottom,
        rgba(24, 24, 24,0.8),
        rgba(24, 24, 24,0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    animation: circle-shake 10s linear 0s infinite alternate forwards;
}
.circle1{
    top: 5%;
    right: 15%;
}
.circle2{
    bottom: 5%;
    left: 10%;
    animation-name: move-down;
}

.dashboard  {
    flex: 1;
    display: flex;
    min-width: 385.625px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
        rgba(24, 24, 24,0.8),
        rgba(24, 24, 24,0.3)
    );
    border-radius: 2rem;
}

.link {
    display: flex;
    justify-content: left;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link:hover{
    letter-spacing: 0.5px;
}

.link img {
    width: 35px;
    height: 35px;
}

/* Temperatura */
.temperature-value{
    padding: 1rem;
    position: relative;
}

.temperature-value img {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 25%;
    right: 90%;
    animation: shake 10s ease-in 0s infinite normal forwards;

}

.temperature-value h2{
    font-weight: 600;
}

.link h2{
    padding: 0rem 2rem;
}

/* Barra da direita */

.pomodoro{
    width: 50%;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2;
}

.settings input{
    transition:  0.5s ease-in-out;
    color: white;
    margin: 15px 0;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom,
        rgba(24, 24, 24,0.7),
        rgba(24, 24, 24,0.3)
    );
    border: none;
    padding: 0.4rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    margin: 0.3rem 0;
}

form {
    height: 15%;
    display:  flex;
    flex-direction: column;
    max-width: 300px;
    margin: 5px auto;
}

form button {
    width: 100%;
    margin: 5px 0;
}

form p{
    height: 0rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.clock {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
    font-size: 1.5rem;
    height: 30%;
}

.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-ring__circle{
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke:deepskyblue;
}

.end-time {
    stroke: red;
    animation: pulse 0.9s ease-in-out infinite;
}

/* Animações */
@keyframes pulse {
    0%,
    100% {
        transform: rotate(-90deg) scale(1);
    }
    50% {
        transform: rotate(-90deg) scale(1.05);
    }
    75% {
        transform: rotate(-90deg) scale(0.8);
    }
}


@keyframes circle-shake {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@-webkit-keyframes color-change-2x {
    0% {
      background: #011b35;
    }
    100% {
      background: #003b57;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #011b35;
    }
    100% {
      background: #003b57;
    }
  }

  @keyframes shake {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


@media (orientation: portrait) {

    .glass{
    min-height: 80vh;
    min-width: 35vh;
    width: 60%;

    }

    .dashboard{
        display: none;
    }
    .circle1, .circle2{
        width: 25%;
        height: 25vw;
    }

    .circle1{
        top: 8%;
        right: 7%;
    }

    .circle2{
        bottom: 8%;
        left: 7%;
    }

    .pomodoro{
        width: 100vw;
        min-height: 80vw;
        margin-left: 10vw;
        padding-bottom: 2vw;
    }
    
}